a {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    font-family: cursive;
}

.fieldError {
    margin-top: 3px;
    color: red;
    font-weight: 400;
}

.main {
    margin: 15% 8%;
}

.footer-container {
    width: 100%;
    background: #bff8ff;
    min-height: 48vh;
}

.hidden {
    display: none;
}

#test-title {
    color: inherit;
    padding: 0;
    font-family: inherit;
    font-size: 2.5rem;
    text-decoration: underline;
}

#test-title.no-edit {
    border: none;
    outline: none;
    background: none;
}

.alert {
    position: fixed;
    z-index: 2;
    top: 10%;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.card-container {
    display: flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    padding: 25px 25px 0;
    width: 35rem;
    box-shadow: 2px 5px 3px rgb(155, 155, 155);
}

.card-container .created {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    color: grey;
    justify-content: space-between;
}

.card-container .created p:first-child {
    text-align: left;
}

.card-container .created p:last-child {
    text-align: right;
}

.card-container .card-title {
    font-size: 35px;
    text-align: center;
}

.card-container .card-link {
    font-weight: bold;
    margin: auto;
    font-size: 19px;
}

.test h4 {
    color: darkslategrey;
    font-size: 35px;
}

.question {
    background-color: #d8dcdc;
}

.test .form-check {
    width: fit-content;
    transition: .3s;
}

.test .form-check:hover {
    font-weight: bold;
    transform: scale(1.1);
}

input[readonly] {
    background-color: #f4f4f4;
    border: 3px solid green;
    border-radius: 5px;
}

input {
    height: 45px;
}

.checkbox {
    margin: auto;
    height: auto;
}

.evaluation {

}

.evaluation-points {
    font-weight: bold;
    font-palette: light;
}

.evaluation-text {
    padding: 100px;
    font-weight: 800;
    font-size: 25px;
}

.evaluation-link {
    color: #211109;
}

#statistics {
    margin-top: 250px;
}